<a href="https://colab.research.google.com/github/Sufiya14/Python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello") # print hello 
 
a=int(input("Enter first number ")) # Enter first number
b=int(input( "Enter second number ")) #Enter second number
c=a+b
print(c) #print sum of two numbers

hello
Enter first number 4
Enter second number 8
12

In [ ]:

# To identify type of variable
a=5
print(type(a))

<class 'int'>

In [ ]:
 
# To identify type of different variable
a=3.2
c='a'
b=[]
d={"a"}
e=()
f=3+5j
g={"a":1}
print(type(c),type(b),type(d),type(e),type(f),type(a),type(g))

<class 'str'> <class 'list'> <class 'set'> <class 'tuple'> <class 'complex'> <class 'float'> <class 'dict'>

In [ ]:

# To print sum of elements in a list
a=[2,3,4,1,3,5,0]
print(sum(a))

18

In [ ]:
 
# input your name 
a=input("Enter  your name ")
print(a)
 
b=int(input("enter the value of b "))
c=int(input("enter the value of c "))
d=c+b
print(d)

Enter  your name Sufiya
Sufiya
enter the value of b 6
enter the value of c 7
13

In [ ]:
 
# Calculator
a=int(input("Enter first number "))
b=int(input("Enter second number "))
print("sum subtract multiply division modulus")
print(a+b ,a-b ,a*b ,a/b ,a%b ,a//b)

Enter first number 4
Enter second number 3
sum subtract multiply division modulus
7 1 12 1.3333333333333333 1 1

In [ ]:
 
# To calculate ut+(1/2)at^2
t=int(input("Enter time "))
u=int(input("Enter initial velocity "))
a=int(input("Enter acceleration "))
print((u*t+(1/2)*a*t*t))

Enter time 5
Enter initial velocity 6
Enter acceleration 2
55.0

In [ ]:
 a=1                          #integer
b=1.2                        #float
c='str'                      #string
d=[]                         #list
e=()                         #tuple
f={"rt"}                     #set
g={c:5}                    #dictionary
i=1+2j                 #complex number
k=True                       #boolean   
i= frozenset((a,b))       #frozen set 
l=bytes(1)                #bytes
o=bytearray(a)            #bytearray 
m=memoryview(bytes(9))   #memory view
n=range(1,2)              #range
print(type(a),type(b),type(c),type(d),type(e),type(f),type(g),type(i),type(k),type(i),type(l),type(o),type(m),type(n))
print(id(a),id(b),id(c),id(d),id(e),id(f),id(g),id(i),id(k),id(i),id(l),id(o),id(m),id(n))

<class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'tuple'> <class 'set'> <class 'dict'> <class 'frozenset'> <class 'bool'> <class 'frozenset'> <class 'bytes'> <class 'bytearray'> <class 'memoryview'> <class 'range'>
94265054886400 140000852285904 140001409717552 140000861410640 140001409962064 140000860933488 140000851797728 140000860930368 94265054212352 140000860930368 140000851313984 140000851614832 140000860814464 140000851313840

In [ ]:
 
# To check an identifier is valid or not.
abc=2 
_a=2
1xc=3
0a=3
Td=4

SyntaxError: ignored

In [ ]:
 
# To print all keywords 
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
# swapping of three numbers 
a=int(input("Enter first number "))
b=int(input("Enter second number "))
c=int(input("Enter third number "))
a,b,c=c,b,a
print(a,b,c)

Enter first number 3
Enter second number 6
Enter third number 2
2 6 3

In [ ]:
 
# Convert int to float 
A=int(input("Enter a number "))
print(int(A),float(A))

Enter a number 7
7 7.0

In [ ]:

# convert int to float
a=4
print(float(a))

4.0

In [ ]:
 
# To convert int to float and vice versa
a=int(input("enter a number "))
print(float(a))
b=float(input("Enter a number"))
print(int(b))

enter a number 5
5.0
Enter a number5.9
5

In [ ]:
 # To convert complex into int and float type
a=input("enter a complex number ")
print(int(a),float(a))

enter a complex number 5+3j

ValueError: ignored

In [ ]:

# To convert int and float to complex
A=4
B=4.6
print(complex(A),complex(B))

(4+0j) (4.6+0j)

In [ ]:
 
# To print real and imaginary part of complex number 
A=complex(input("enter a complex number "))
print(A.real,A.imag)

enter a complex number 5+6j
5.0 6.0

In [ ]:
 
#To convert str into int, float, complex and vice versa
a=input()
print(int(a),float(a),complex(a))
b=int(input())
c=float(input())
d=complex(input())
print(str(b),str(c),str(d))

5
5 5.0 (5+0j)
5
8.5
4+7j
5 8.5 (4+7j)

In [ ]:
import random 
# To evaluate boolean expression 
True+True

2

In [ ]:
False+True

1

In [ ]:
False-True

-1

In [ ]:
False+False

0

In [ ]:

#To convert bool into int,float,complex,str and vice versa
B=bool(input()) # Enter a number
print(int(B),float(B),complex(B),str(B))#To convert bool type into int,float,complex,str.
A=4
E=4.6
C=4+5j
D='S'
print(bool(A),bool(E),bool(C),bool(D))

0
1 1.0 (1+0j) True
True True True True

In [ ]:
 
# To convert decimal into binary ,octal,hexadecimal
A=int(input("Enter a number "))
print(bin(A),oct(A),hex(A))

Enter a number 6
0b110 0o6 0x6

In [ ]:
 
# To convert octal,binary,hexadecimal into decimal
a=0o5#enter a octal number
c=0b101#enter abinary number
b=0x5#enter a hexadecimal number
print(int(a),int(c),int(b))

5 5 5

In [ ]:
 
# float number
print(5e5)
print(2E8)

500000.0
200000000.0

In [ ]:
# Print hello multiple times
print("Hello "*10)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [ ]:
#To check a number is even or odd
if(int(input("Enter a number "))%2==0):
   print("Even")
else:
   print("Odd")

Enter a number 7
Odd

In [ ]:
 # To check order of customer is available or not and print his bill.
Menu={'pizza':70,'burger':40,'pasta':50,'pepsi':40,'sandwich':40,'momos':35,'icecream':30,'milkshake':40,'juice':20}
print("Menu")
print(Menu)
total=0
cost=[]
quantity=[]
prepared=['pizza','pepsi','icecream','burger','juice']
unprepared=['pasta','sandwich','momos','milkshake']
Customer=input().split() #Take input order of customer
for item in Customer:
  if item in prepared:
     print("How many  " + item +" you want\n")
     n=input()
     print("wait your "+n+" "+ item +" are coming as soon as possible\n")
     price=Menu[item]
     price=int(n)*int(price)
     quantity.append(n)
     cost.append(price)
     total=total+ price
     #print("Quantity  " + n + " item " + item + " price " + str(price) + "\n")
  else:
     print("Not available "+ item + " ,please order something else\n")

print(" Quantity   Item   Price")
i=0
for item in Customer:
  print(quantity[i] + "\t"  ,item + "\t"  ,cost[i])
  i=i+1
print("\n Total bill " + str(total) + "\n")

Menu
{'pizza': 70, 'burger': 40, 'pasta': 50, 'pepsi': 40, 'sandwich': 40, 'momos': 35, 'icecream': 30, 'milkshake': 40, 'juice': 20}
pizza icecream
How many  pizza you want

2
wait your 2 pizza are coming as soon as possible

How many  icecream you want

3
wait your 3 icecream are coming as soon as possible

 Quantity   Item   Price
2	 pizza	 140
3	 icecream	 90

 Total bill 230

In [ ]:
# List operation
list=[1,2,3,4]
list.append(7)
print(list)
list.insert(3,8)
print(list)
print(list[:2])
list[2:]

[1, 2, 3, 4, 7]
[1, 2, 3, 8, 4, 7]
[1, 2]

[3, 8, 4, 7]

In [ ]:
# Mapping of two list
list1=[1,2,3,4]
list2=['A','B','C','D']
l=zip(list1,list2)
print(dict(l))

for i in range(len(list1)):
  print(list1[i],list2[i])

list3=['a','b','c','d'] 
b=list(map(lambda x,y: x +" "+ y,list3,list2))
print(b)

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}
1 A
2 B
3 C
4 D
['a A', 'b B', 'c C', 'd D']

In [ ]:
# to check  two list are same or not
l1=['q','e','y','g']
n=int(input("enter no of elements "))
l2=[]
for i in range(n):
  e=input()
  l2.append(e)

print(l2)
if set(l1)== set(l2):
  print("list are equal " )
  print(l1)
else:
  print("list are not equal")
  print((set(l1)-set(l2)).union(set(l2)-set(l1)))

enter no of elements 4
w
r
q
t
['w', 'r', 'q', 't']
list are not equal
{'e', 'y', 'r', 'g', 't', 'w'}

In [ ]:
#Frozen Set
l=[1,2,3,4]
x=frozenset(l)
print(x.copy())

frozenset({1, 2, 3, 4})

In [ ]:
# compare two strings
s1=input("Enter first string ").lower()
s2=input("Enter second string ").lower()
if s1==s2:
  print("Equal")
else:
  print("Unequal")

Enter first string abc
Enter second string cvg
Unequal

In [ ]:
# merge two list and sort them.
list1=[1,5,2,8,3,4]
list2=[9,8,5,3,7,1]
list3=list1+list2
for i in range(len(list3)): 
    min_idx = i 
    for j in range(i+1, len(list3)): 
        if list3[min_idx] > list3[j]: 
            min_idx = j 
                    
    list3[i], list3[min_idx] = list3[min_idx], list3[i] 

print ("Sorted array") 
print(list3)

Sorted array
[1, 1, 2, 3, 3, 4, 5, 5, 7, 8, 8, 9]

In [ ]:
#compute hcf and lcm of two numbers
a=int(input("Enter first number "))
b=int(input("Enter second number "))
if(a<b):
  s=a
else:
  s=b
hcf=1
for i in range (2,s+1):
  if(a%i==0 and b%i==0 ):
    hcf=i

lcm=(a*b)/hcf
print(hcf,lcm)

Enter first number 6
Enter second number 4
2 12.0

In [ ]:
dict1={'mango':'fruit','shreya':'good girl','surbhi':'tall girl','sufiya':'topper','unnati':'cute girl'}
s=input()
if s in dict1:
  print(dict1[s])

unnati
cute girl

In [ ]:
# eval function
a=eval(input())
type(a)
#print(a)

"h"

str

In [ ]:
# map function
l=[1,2,5,4,7,9]
a=list(map(lambda x: x*x*x,l))
print(a)
b=list(map(lambda y: y + y,l))
print(b)
c=list(map(lambda y: y * y,l))
print(c)

[1, 8, 125, 64, 343, 729]
[2, 4, 10, 8, 14, 18]
[1, 4, 25, 16, 49, 81]

In [ ]:
#strip() function
s="aeiou"
print(s.strip("ua"))
print(s)
print(s.strip("e"))
print(s.rstrip("u"))
print(s.lstrip("a"))

eio
aeiou
aeiou
aeio
eiou

In [ ]:
#find() function
s=input()
n=input()
print(s.find(n))

i am
n
-1

In [ ]:
#index()
n=[1,54,3,2,6,35,26,8754,44]
print(n.index(3))

2

In [ ]:
# extend()
l1=[2,3,1,6,5]
l2=[3,5,2,5,2]
l1.extend(l2)
print(l1)

[2, 3, 1, 6, 5, 3, 5, 2, 5, 2]

In [ ]:
# reverse()
n=[2,4,0,6,3,1]
n.reverse()
print(n)

[1, 3, 6, 0, 4, 2]

In [ ]:
#count()
l1=[2,3,1,6,5]
l2=[3,5,2,5,2]
l1.count(3)

1

In [ ]:
# split() function
s=input()
c=s.split(",")
print(c)

I , BE, THE, GREAT
['I ', ' BE', ' THE', ' GREAT ']

In [ ]:
#join()
s=input()
x="&".join(s)
print(x)
v=['a','b','c']
k="*".join(v)
print(k)

i m
i& &m
a*b*c

In [ ]:
#get()
d={'a':1,'b':2}
d.get('a')

1

In [ ]:
#USER DEFINED FUNCTIONS
# without return
def mul(a,b):
   print(a*b)

a=2
b=9
mul(a,b)

18

In [ ]:
def cmp(a,b):
  return a if a<b else b
cmp(1,4)

1

In [ ]:
# with return
def mul(a,b):
   return a*b

a=2
b=9
mul(a,b)

18

In [ ]:
def coding():
     name=input()
     print("Hello "+ name+ " Happy Coding")
coding()

abs
Hello abs Happy Coding

In [ ]:
#decore function
def wit(coding):
  def fit(name):
    if name=='sufiya':
      print('smart girl')
    else:
      coding('shrey')
  return fit
@wit
def abc(name):
  print('no need')
abc('weert')
abc('sufiya')

no need
smart girl

In [ ]:
#sps game
import random
print("Lets play game")
input("Enter your chance  ")
h=int(random.random()*10)%3
if(h==0):
  print("Stone")
if(h==1):
  print("Paper")
if(h==2):
  print("Scissor")

Lets play game
Enter your chance  paper
Stone

In [ ]:
# replace()
s="abcd"
s.replace("c","s")

'absd'

In [ ]:
#deposit and withdrawal
balance=1111
def deposit(amount):
  global balance
  balance+= amount
  
def withdrawl(amount):
  global balance
  balance-=amount

while True:
  choice=int(input("If you want to deposit then enter 1  and for withdrawal enter 2 : "))
  if choice==1:
    amount=int(input("Enter amount to be deposit: "))
    deposit(amount)
    print(balance)
  else:
    amount=int(input("Enter amount to be withdrawl:  "))
    withdrawl(amount)
    print(balance)
  
  if input("You again want deposit or withdrawl then enter YES or NO ")== "NO":
    break

If you want to deposit then enter 1  and for withdrawal enter 2 : 1
Enter amount to be deposit: 2000
3111
You again want deposit or withdrawl then enter YES or NO NO

In [ ]:
# using class
class Bank:
  
  '''def __init__(self,amount):
    self.amount=amount'''

  def deposit(self,amount):
    global balance
    balance+= amount
  
  def withdrawl(self,amount):
    global balance
    balance-=amount

balance=1111
while True:
    choice=int(input("If you want to deposit then enter 1  and for withdrawal enter 2 : "))
    a=Bank()
    if choice==1:
      amount=int(input("Enter amount to be deposit: "))
      a.deposit(amount)
      print(balance)
    else:
      amount=int(input("Enter amount to be withdrawl:  "))
      a.withdrawl(amount)
      print(balance)
    
    if input("You again want deposit or withdrawl then enter YES or NO ")== "NO":
      print("Have a good day  ")
      break

If you want to deposit then enter 1  and for withdrawal enter 2 : 1
Enter amount to be deposit: 2300
3411
You again want deposit or withdrawl then enter YES or NO YES
If you want to deposit then enter 1  and for withdrawal enter 2 : 1
Enter amount to be deposit: 1200
4611
You again want deposit or withdrawl then enter YES or NO NO
Have a good day

In [ ]:
# bank system
import random
class Bank:
  
  '''def __init__(self,amount):
    self.amount=amount'''

  def account(self,name,age,gender):
    print("Account number: "+ str(random.randrange(1000000,12000000)))

  def deposit(self,amount):
    global balance
    balance+= amount
  
  def withdrawl(self,amount):
    global balance
    balance-=amount

balance=1111
while True:
    choice=int(input("If you want to deposit then enter 1  and for withdrawal enter 2 and for creating an account enter 3: "))
    a=Bank()
    if choice==1:
      amount=int(input("Enter amount to be deposit: "))
      a.deposit(amount)
      print(balance)
    elif choice==3:
      name=input("Enter your name: ")
      age=int(input("Enter your age: "))
      gender=input("Enter gender: ")
      a.account(name,age,gender)

    else:
      amount=int(input("Enter amount to be withdrawl:  "))
      a.withdrawl(amount)
      print(balance)
    
    if input("You again want deposit,create an account or withdrawl then enter YES or NO ")== "NO":
      print("Have a good day  ")
      break

If you want to deposit then enter 1  and for withdrawal enter 2 and for creating an account enter 3: 3
Enter your name: unnati
Enter your age: 20
Enter gender: female
Account number: 4189187
You again want deposit,create an account or withdrawl then enter YES or NO NO
Have a good day

In [ ]:
globals