In [ ]:
print("hello") # print hello 
 
a=int(input("Enter first number ")) # Enter first number
b=int(input( "Enter second number ")) #Enter second number
c=a+b
print(c) #print sum of two numbers

hello
Enter first number 4
Enter second number 8
12

In [ ]:

# To identify type of variable
a=5
print(type(a))

<class 'int'>

In [ ]:
 
# To identify type of different variable
a=3.2
c='a'
b=[]
d={"a"}
e=()
f=3+5j
g={"a":1}
print(type(c),type(b),type(d),type(e),type(f),type(a),type(g))

<class 'str'> <class 'list'> <class 'set'> <class 'tuple'> <class 'complex'> <class 'float'> <class 'dict'>

In [ ]:

# To print sum of elements in a list
a=[2,3,4,1,3,5,0]
print(sum(a))

18

In [ ]:
 
# input your name 
a=input("Enter  your name ")
print(a)
 
b=int(input("enter the value of b "))
c=int(input("enter the value of c "))
d=c+b
print(d)

Enter  your name Sufiya
Sufiya
enter the value of b 6
enter the value of c 7
13

In [ ]:
 
# Calculator
a=int(input("Enter first number "))
b=int(input("Enter second number "))
print("sum subtract multiply division modulus")
print(a+b ,a-b ,a*b ,a/b ,a%b )

Enter first number 6

In [ ]:
 
# To calculate ut+(1/2)at^2
t=int(input("Enter time "))
u=int(input("Enter initial velocity "))
a=int(input("Enter acceleration "))
print((u*t+(1/2)*a*t*t))

Enter time 5
Enter initial velocity 6
Enter acceleration 2
55.0

In [ ]:
 a=1                          #integer
b=1.2                        #float
c='str'                      #string
d=[]                         #list
e=()                         #tuple
f={"rt"}                     #set
g={c:5}                    #dictionary
i=1+2j                 #complex number
k=True                       #boolean   
i= frozenset((a,b))       #frozen set 
l=bytes(1)                #bytes
o=bytearray(a)            #bytearray 
m=memoryview(bytes(9))   #memory view
n=range(1,2)              #range
print(type(a),type(b),type(c),type(d),type(e),type(f),type(g),type(i),type(k),type(i),type(l),type(o),type(m),type(n))
print(id(a),id(b),id(c),id(d),id(e),id(f),id(g),id(i),id(k),id(i),id(l),id(o),id(m),id(n))

<class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'tuple'> <class 'set'> <class 'dict'> <class 'frozenset'> <class 'bool'> <class 'frozenset'> <class 'bytes'> <class 'bytearray'> <class 'memoryview'> <class 'range'>
94265054886400 140000852285904 140001409717552 140000861410640 140001409962064 140000860933488 140000851797728 140000860930368 94265054212352 140000860930368 140000851313984 140000851614832 140000860814464 140000851313840

In [ ]:
 
# To check an identifier is valid or not.
abc=2 
_a=2
1xc=3
0a=3
Td=4

SyntaxError: ignored

In [ ]:
 
# To print all keywords 
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
# swapping of three numbers 
a=int(input("Enter first number "))
b=int(input("Enter second number "))
c=int(input("Enter third number "))
a,b,c=c,b,a
print(a,b,c)

Enter first number 3
Enter second number 6
Enter third number 2
2 6 3

In [ ]:
 
# Convert int to float 
A=int(input("Enter a number "))
print(int(A),float(A))

Enter a number 7
7 7.0

In [ ]:

# convert int to float
a=4
print(float(a))

4.0

In [ ]:
 
# To convert int to float and vice versa
a=int(input("enter a number "))
print(float(a))
b=float(input("Enter a number"))
print(int(b))

enter a number 5
5.0
Enter a number5.9
5

In [ ]:
 # To convert complex into int and float type
a=input("enter a complex number ")
print(int(a),float(a))

enter a complex number 5+3j

ValueError: ignored

In [ ]:

# To convert int and float to complex
A=4
B=4.6
print(complex(A),complex(B))

(4+0j) (4.6+0j)

In [ ]:
 
# To print real and imaginary part of complex number 
A=complex(input("enter a complex number "))
print(A.real,A.imag)

enter a complex number 5+6j
5.0 6.0

In [ ]:
 
#To convert str into int, float, complex and vice versa
a=input()
print(int(a),float(a),complex(a))
b=int(input())
c=float(input())
d=complex(input())
print(str(b),str(c),str(d))

5
5 5.0 (5+0j)
5
8.5
4+7j
5 8.5 (4+7j)

In [ ]:
 
# To evaluate boolean expression 
True+True

2

In [ ]:
False+True

1

In [ ]:
False-True

-1

In [ ]:
False+False

0

In [ ]:

#To convert bool into int,float,complex,str and vice versa
B=bool(input()) # Enter a number
print(int(B),float(B),complex(B),str(B))#To convert bool type into int,float,complex,str.
A=4
E=4.6
C=4+5j
D='S'
print(bool(A),bool(E),bool(C),bool(D))

0
1 1.0 (1+0j) True
True True True True

In [ ]:
 
# To convert decimal into binary ,octal,hexadecimal
A=int(input("Enter a number "))
print(bin(A),oct(A),hex(A))

Enter a number 6
0b110 0o6 0x6

In [ ]:
 
# To convert octal,binary,hexadecimal into decimal
a=0o5#enter a octal number
c=0b101#enter abinary number
b=0x5#enter a hexadecimal number
print(int(a),int(c),int(b))

5 5 5

In [ ]:
 
# float number
print(5e5)
print(2E8)

500000.0
200000000.0

In [ ]:
# Print hello multiple times
print("Hello "*10)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [ ]:
#To check a number is even or odd
if(int(input("Enter a number "))%2==0):
   print("Even")
else:
   print("Odd")

Enter a number 7
Odd

In [ ]:
 
# To check order of customer is available or not
Menu=['pizza','burger','pasta','pepsi','sandwich']
Customer=input().split() #Take input order of customer
for item in Customer:
  if item in Menu:
     print("How many plates of " + item +" you want\n")
     n=input()
     print("wait your "+n+" plates of "+ item +" are coming as soon as possible\n")
  else:
     print("Not available "+ item + " ,please order something else\n")

pizza cocacola
How many plates of pizza you want

6
wait your 6 plates of pizza are coming as soon as possible

Not available cocacola ,please order something else